.input-container {
    position: relative;
}

.input-container input {
    caret-color: black;
}

.input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}
